/*====== RESET ======*/
* {margin: 0; padding: 0; font-size: 100%;  box-sizing: border-box; 
font-family: 'Lato', sans-serif;}
body {width: 100%; height: auto; background: #2EFEF7; display: flex; justify-content: center; flex-direction: column; overflow: auto; }
img {max-width: 100%;}
a { text-decoration: none; }


.contaner-titulo {
	width: 90%;
}

.titulo {
	width: 90%;
	margin-top: 2%;
}

.titulo h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 3em;
	text-align: center;
}

.contaner-contato {
	width: 90%;
	display: flex;
	
	justify-content: center;
	
}

.contato {
	margin: 4%;
}
.contato i {
	font-size: 1em;
	
}
.contato p {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1em;
	padding-top: 2%;
}

.contaner-cartao {
	width: 90%;
}

.cartao  {
	width: 100%;
	margin-top: 5%;
	font-size: 1em;
	background-color: #000;
}

.cartao p {
	padding: 2%;
	font-family: 'Bree Serif', serif;
	color: #fff;

}

.contaner-produto {
	width: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.produto  {
	width: 90%;
}
.produto img {
	width: 100%;
	
	border-radius: 5%;

}
.texto-produto {
	width: 90%;
	background-color: #000;
	padding: 3%;
	border-radius: 3%;

}

.texto-produto h2 {
	color: #fff;
	font-size: 2em;
}

button {
	width: 79%;
	margin-bottom: 5%;
	margin-top: 5%;
	padding: 2% 0 2% 0;
	background-color: #fff;
}